body {
    font-family: Garamond, Georgia, serif;
    font-size: 32px;
    text-align: center;
}

.title {
    background-color: #551a8b;
    color: lightskyblue;
}

.recipes {
    background-color: lightskyblue;  
}

.describe-mila{
    color: #e06f2e;
}